* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav, ul {
   display: flex;
   list-style-type: none;
}

a {
    display: flex;
    text-decoration: none;
}

li:hover > ul {
    margin-top: 20px;
    display: block;
}

ul {
    list-style: none;
}

ul ul {
    display: none;
    position: absolute; 
    background-color: #fff; 
    padding: 10px;
    border: 1px solid #ccc;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: ; */
}

#recherche_conteneur {
    display: flex;
    float: right;
}

nav > ul {
    display: flex;
    justify-content: space-between; /* Répartit les éléments principaux de la navbar */
    width: 100%;                    /* Prend toute la largeur du conteneur */
    list-style-type: none;          /* Supprime les puces */
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: flex;
    padding: 14px;
    justify-content: space-around;
}

.tableau-de-bord {
    border-radius: 10px;
    box-shadow: 1px 5px 5px black;
    padding: 10px;
}
