* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav, ul {
   display: flex;
   list-style-type: none;
}

a {
    display: flex;
    text-decoration: none;
}

.ul-nav > li:hover > ul {
    
    display: block;
}

ul {
    list-style: none;
}

ul ul {
    display: none;
    position: absolute; 
    background-color: #fff; 
    padding: 10px;
    border: 1px solid #ccc;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.23571435410101538) 0%, rgb(255, 255, 255) 50%, rgba(2,0,36,0.23571435410101538) 100%);
    border-bottom: 0.1rem solid rgb(24, 109, 158);
}

#recherche_conteneur {
    display: flex;
    float: right;
}

nav > ul {
    display: flex;
    justify-content: space-between; 
    width: 100%;                    
    list-style-type: none;          
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: flex;
    padding: 14px 0;
    justify-content: space-around;

    position: relative; 
    padding: 14px 100px;
}

nav > ul > li > ul {
    display: none; /* Par défaut, cache les sous-listes */
    position: absolute; 
    background-color: #fff; 
    padding: 10px; 
    border: 1px solid #ccc; 
    z-index: 10;  
}

nav > ul > li:hover > ul {
    display: block; /* Affiche la sous-liste au survol */
}

nav > ul > li {
    position: relative; /* Ajoutez ceci pour que les sous-listes s'affichent correctement */
}


nav > ul > li > ul > li {
    padding: 5px 10px; 
    margin: 0; 
    list-style-type: none; 
}

footer {
    background-color: rgb(4, 162, 253);
    border-radius: 0px 0px 10px 10px;
    margin-top: 10px;
}

.tableau-de-bord {
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    position: relative;
    width: 70%;
}

.tableau-de-bord h1 {
    position: relative;
    color: white;
    background-color: rgb(24, 109, 158);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 5px 50px; 
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 0;
}

.tableau-section-1 { 
    margin: 15px 0px 15px 0px;
    color: blue;
}

.tableau-section-2 { 
    background-color: rgb(234, 243, 243);
    border-radius: 0px 0px 10px 0px;
    margin: 0;
    padding: 15px 0px 30px 15px;

    
    display: flex;
    justify-content: space-between; 
    gap: 15px; 
}

.tableau-section-2 ul {
    margin: 0;
    z-index: 0;
}

.tableau-section-2 .box1,
.tableau-section-2 .box2,
.tableau-section-2 .box3 {
    display: flex;
    flex-direction: column;
    width: 30%; 
}

.tableau-section-2 .box1 a,
.tableau-section-2 .box2 a,
.tableau-section-2 .box3 a {
    display: flex;
    align-items: center; 
    gap: 10px; 
    text-decoration: none;
    color: black; 
}

.tableau-section-2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
}

.tableau-section-2 li {
    margin: 5px 0; 
    line-height: 1.5; 
    display: block;
}

/* blocs-aside */

.blocs-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    display: flex;
    flex-direction: row;

}

.blocs-aside {
    display: flex; 
    gap: 20px; 
}

.box1-aside, .box2-aside {
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    flex: 0; 
    margin-left: 10px;
}

.box1-aside h3 {
    position: relative;
    color: white;
    background-color: rgb(24, 109, 158);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 5px 50px; 
    font-size: 1.2rem;
    font-weight: 500;

    margin-top: 0; 
    margin-bottom: 10px;
}

.box2-aside h3 {
    position: relative;
    color: white;
    background-color: rgb(158, 24, 24);
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 5px 0px 5px 50px; 
    font-size: 1.2rem;
    font-weight: 500;

    margin-top: 0; 
    margin-bottom: 10px;
}

.a-propos {
    display: flex;
    background-color: blue;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}



.ul-footer {
    padding: 10px 0px 0px 25px;
}
