* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav, ul {
   display: flex;
   list-style-type: none;
}

a {
    display: flex;
    text-decoration: none;
}

li:hover > ul {
    margin-top: 20px;
    display: block;
}

ul {
    list-style: none;
}

ul ul {
    display: none;
    position: absolute; 
    background-color: #fff; 
    padding: 10px;
    border: 1px solid #ccc;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

#recherche_conteneur {
    display: flex;
    float: right;
}

nav > ul > li {
    display: flex;
    padding: 14px;
    
}